@import "./lib/variables";
@import "./lib/mixins";
@import "./lib/buttons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-background;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#particles-js {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

%section__title {
    font-family: $primary-font;
    font-weight: 500;
    color: $color-highlighted;
}

// HEADER
.header {
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 200;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    background-color: $color-background;

    &.without-shadow {
        box-shadow: none;
    }

    &__container {
        @include max-width(1024px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 5px 0;
    }

    &__logo {
        height: 40px;
    }

    &__nav {
        display: none;

        @include respond-to(768px) {
            display: flex;
            align-items: center;
        }
    }

    &__section {
        font-size: 12px;
        font-family: $primary-font;
        color: $color-font-main;
        text-transform: uppercase;
        font-weight: 500;
        margin-left: 1.5em;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $color-highlighted;
            transform: translateY(-5px);
        }
    }
}

.panel {
    position: fixed;
    z-index: 500;
    width: 100vw;
    top: 60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    display: flex;
    transition: 1s all ease-in-out;
    transform: translate(-100%, 0);
    opacity: 0;

    &__section {
        font-size: 1em;
        margin-bottom: 2em;
        letter-spacing: 1px;
        font-family: $primary-font;
        color: $color-font-main;
        text-transform: uppercase;
        font-weight: 500;
        transition: 0.3s all ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &:nth-child(1) {
            margin-top: 1em;
        }
    }

    &.is-active {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.panel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    height: 25px;
    width: 25px;

    & .hamburger-box {
        margin-right: 25px;
        height: 25px;
        width: 25px;
    }

    & .hamburger-inner {
        width: 25px;
        height: 3px;
        background-color: $color-highlighted;

        &::before,
        &::after {
            width: 25px;
            height: 3px;
            background-color: $color-highlighted;
        }
    }

    &.is-active .hamburger-inner {
        background-color: $color-highlighted;

        &::before,
        &::after {
            background-color: $color-highlighted;
        }
    }

    @include respond-to(768px) {
        display: none;
    }
}

// HOME
.home {
    height: calc(100vh);
    padding-top: 75px;

    &__container {
        @include max-width(1024px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 70px);
        font-family: $primary-font;
    }

    &__name,
    &__description {
        font-weight: 500;
        text-align: center;
    }

    &__name span,
    &__description span {
        color: $color-highlighted;
        font-weight: 700;
    }
}

// ABOUT
.about {
    padding-top: 75px;

    &__container {
        @include max-width(1024px);
    }

    &__title {
        @extend %section__title;
    }

    &__description {
        font-family: $secundary-font;
        font-weight: 400;
        color: $color-font-secundary;
        line-height: 1.3em;

        & p {
            margin-top: 1em;
        }
    }

    &__skills {
        margin: 2em;
    }

    &__title--skills {
        @extend %section__title;
        color: $color-font-main;
        text-align: center;
        margin-bottom: 1em;
    }

    &__icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        @include respond-to(425px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to(768px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    &__icon {
        @extend %icon;

        &-name {
            font-family: $secundary-font;
            font-size: 1.2em;
            margin-top: 5px;
            letter-spacing: 3px;
        }
    }
}

.fa-html5:hover {
    color: $color-html;
}

.fa-css3-alt:hover {
    color: $color-css;
}

.fa-js:hover {
    color: $color-js;
}

.fa-sass:hover {
    color: $color-sass;
}

.fa-git-alt:hover {
    color: $color-git;
}

.fa-github:hover {
    color: $color-github;
}

.fa-terminal:hover {
    color: $color-terminal;
}

.fa-npm:hover {
    color: $color-npm;
}

// PROJECTS
.projects {
    padding-top: 75px;

    &__container {
        @include max-width(1024px);
    }

    &__title {
        @extend %section__title;
    }
}

.project {
    display: flex;
    flex-direction: column;
    margin: 2em 0 4em;

    @include respond-to(768px) {
        flex-direction: row;
        align-items: center;
    }

    &__image {
        width: 80%;
        max-width: 550px;
        margin: 0 auto;
        margin-bottom: 1em;

        @include respond-to(768px) {
            width: 55%;
            margin-bottom: 0em;
        }
    }

    &__details {
        @include respond-to(768px) {
            margin-left: 3em;
            width: 45%;
        }
    }

    &__name {
        font-size: 24px;
        font-family: $primary-font;
        color: $color-font-main;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    &__stack {
        font-size: 20px;
        font-family: $primary-font;
        color: $color-font-main;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    &__description {
        font-size: 16px;
        font-family: $secundary-font;
        color: $color-font-secundary;
        font-weight: 300;
    }

    &__buttons {
        margin-top: 25px;
    }

    &__button {
        @extend %btn;
        margin-right: 1em;
    }
}

.separator {
    color: $color-highlighted;
}

// CONTACT
.contact {
    padding-top: 30px;

    &__container {
        @include max-width(1024px);
    }

    &__title {
        @extend %section__title;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__mail {
        height: 40px;

        &-image {
            height: 40px;
            width: 200px;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 30px;
    }

    &__icon {
        @extend %icon;
        font-size: 50px;
        margin: 0 0.5em;
    }
}
